/** MAIN Styles for App **/

/** Colours **/

header {
    background-color: lightslategray;
}

#app-container {
    background-color: lightgrey;
}

#section-api-creds {
    background-color: whitesmoke;
    border: 1px solid darkgray;
}

#message-area-api-connect {
    
}

#section-filter-logs {
    background-color: whitesmoke;
    border: 1px solid darkgray;
}

#message-area-load-logs {

}

#section-visualise-data {
    background-color: darkgray;
}

.chart {
    background-color: white;
    border: 10px solid darkgray;
}

footer {
    background-color: lightslategray;
}

/** Typography **/

h1 {
    font-size: 4vh;
}

/** Container Size and Position **/

header {
    position: fixed;
    top: 0;    
    width: 100vw;
    height: 6vh;
    z-index: 100;
}

#app-container {
    margin-top: 6vh;
    margin-bottom: 10vh;
    
}

#message-area-load-logs div {
    display: none;
}

#section-visualise-data article {
    display: none;
}

.chart {
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;    
    width: 100vw;
}

/** Form Styles **/

.space-vertically {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.vertically-spaced-item {
    flex: auto;
}

.highlight-form {
    box-shadow: 0 0 3px 3px green;
}

/** Message Areas **/

#message-area-api-connect div {
    padding: 1rem 0;
}